<h1>User info</h1>

	<table class="table" border="0">
		<tr class="box">
			</th>
		</tr>		
		<tr class="box">
			<td>Name</td>
			
		</tr>
		<tr class="box">
	    	<td>Introduction</td>
	    	
	</table>

		<button class="btn btn-default btn-block">
			<span class = "glyphicon glyphicon-wrench"></span>
		</button>


	<h1>New Book</h1>
	
	    <div id="error_explanation">
	     
	      
	    </div>
	